.fa-fw {
  width: 1.25em;
  text-align: center;
}

.large {
  font-size: 1.25em!important;
  font-weight: 700!important;
}

.spidey-blue {
  color: #447bbe!important;
}

.bg-spidey {
  background-color: #447bbe!important;
  color: #ffffff!important;
}

ul {
  list-style: none;
}

ul li::before {
  content: "\2022";
  color: #6c757d;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

@media only screen and (min-width: 576px) {
  .lower-deck {
    margin-top: 16px;
}}